{% extends "base.html" %}
{% block content %}

<h2>Add Question</h2>

<form method="POST">
{% csrf_token %}

<select name="test_id">
{% for t in tests %}
<option value="{{t.id}}">{{t.test_name}}</option>
{% endfor %}
</select>

<input name="qno" placeholder="Question Number">
<textarea name="question"></textarea>

<input name="option1">
<input name="option2">
<input name="option3">
<input name="option4">

<select name="correct_option">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
</select>

<button>Add</button>

</form>

{% endblock %}