{% extends "base.html" %}
{% block content %}

<h2>Edit MCQ Question</h2>

<form method="POST">

{% csrf_token %}

<input type="number" name="qno" value="{{ q.qno }}" required>

<textarea name="question" required>{{ q.question }}</textarea>

<input type="text" name="option1" value="{{ q.option1 }}" required>

<input type="text" name="option2" value="{{ q.option2 }}" required>

<input type="text" name="option3" value="{{ q.option3 }}" required>

<input type="text" name="option4" value="{{ q.option4 }}" required>

<select name="correct_option" required>

<option value="1" {% if q.correct_option == 1 %}selected{% endif %}>Option 1</option>

<option value="2" {% if q.correct_option == 2 %}selected{% endif %}>Option 2</option>

<option value="3" {% if q.correct_option == 3 %}selected{% endif %}>Option 3</option>

<option value="4" {% if q.correct_option == 4 %}selected{% endif %}>Option 4</option>

</select>

<button type="submit">Update Question</button>

</form>

<br>

<a class="btn primary" href="{% url 'view_questions' test_id %}">Back</a>

{% endblock %}