{% extends "base.html" %}
{% block content %}

<h2>{{test_name}}</h2>

<form method="POST" action="{% url 'submit_exam' test_id %}">
{% csrf_token %}

{% for q in questions %}

<div class="card">

<b>{{forloop.counter}}. {{q.question}}</b>

<label><input type="radio" name="q{{q.id}}" value="1"> {{q.option1}}</label>
<label><input type="radio" name="q{{q.id}}" value="2"> {{q.option2}}</label>
<label><input type="radio" name="q{{q.id}}" value="3"> {{q.option3}}</label>
<label><input type="radio" name="q{{q.id}}" value="4"> {{q.option4}}</label>

</div>

{% endfor %}

<button type="submit">Submit Exam</button>

</form>

{% endblock %}